$co: #14334e;
$fc: #ffffff;

$black: #000000;
$white: #ffffff;

// font-related
$base: #1c2438;
$regular: #495060;
// $first: #99a8b4
$first: #a5b5c1;
$secondary: #a5b5c1;
$font-light: #f7f7f8;
$font-dark: #76828c;

// border-related
$border-base: #e7e7e7;
$border-light: #e9eaec;
$border-highlight: #55d48b;

// theme-related
$dark-primary: #2b85e4;
$primary: #2d8cf0;
$light-primary: #5cadff;
// $light-primary: #55d48b
$success: #0ac160;
$warning: #fa9d3b;
$danger: #f35f5f;

// background-related
$light-background: #f2f7f7;
$background: #404953;
$dark-background: #363e47;
$deep-background: #303841;

$background: #404953;
$background-light: #f5f5f5;
$background-dark: #363e47;
$background-deep-dark: #303841;

//宽高
@mixin wh($width,$height) {
    width: $width;
    height: $height;
}

//flex布局垂直居中对齐
@mixin faj {
    display: flex;
    align-items: center;
    justify-content: center;
}

//flex布局水平居中
@mixin fj {
    display: flex;
    justify-content: center;
}

//flex布局垂直居中
@mixin fa {
    display: flex;
    align-items: center;
}

//定位上下左右居中
@mixin center {  
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}